<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (pageTitle='Error')"></head>
<body>
    <!-- Navbar Fragment -->
    <th:block th:replace="fragments/navbar :: navbar"></th:block>

    <!-- Error Message Section -->
    <div class="error-message d-flex justify-content-center align-items-center text-center"
         style="background-image: url('/pictures/tarts.png'); background-size: cover; background-position: center;">
            <span class="container p-4 m-5 bg-warning-subtle text-emphasis border border-warning">
                <h1 class="fw-bold text-warning">Oops! Something went wrong.</h1>
                <p>We're sorry, but an unexpected error has occurred.</p>
                <p>Please go back to the <a href="/">home page</a> or try again later.</p>
            </span>
    </div>
</body>
</html>
