<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <title>Hadarim Bakery</title>
</head>
<body>
    <nav class="navbar mx-auto bg-body">
        <div class="container-fluid navbar-collapse">
            <div class="d-flex justify-content-center w-100">
                <a class="navbar-brand" href="#">
                    <img src="logo.png" alt="Logo">
                </a>
            </div>
            <button class="btn btn-info mx-1" type="button" onclick="window.location.href='/menu'">Menu</button>
            <button class="btn btn-info mx-1" type="button" onclick="window.location.href='/orders'">Orders</button>
            <button class="btn btn-info mx-1" type="button" onclick="window.location.href='/reservation'">Reservation</button>
            <div class="d-flex align-items-center ml-auto">
                <a class="navbar-brand py-3" href="#">
                    <img src="house-emoji.png" onclick="window.location.href='/'" width="30" height="30" alt="">
                </a>
                <button class="btn btn-outline-info mx-1" type="button" data-bs-toggle="modal" data-bs-target="#dialog">Contact Us</button>
            </div>
        </div>
    </nav>

    <div class="d-flex justify-content-center align-items-center text-center" style="background-image: url('https://static.wixstatic.com/media/217572_62486a4be88e44a7a0a03adfd1a030da~mv2.jpg/v1/fill/w_900,h_600,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/217572_62486a4be88e44a7a0a03adfd1a030da~mv2.jpg'); background-size: cover; background-position: center; height: 100vh">
        <span class="container p-4 bg-body rounded border border-warning text-emphasis" id="home">
            <div> dynamics. Urbanity. Innovation space. a treat. </br>
                hadarim bakery is designed in a modern urban style and attracts young people, families, businessmen and tourists. </br>
                The bakery overlooks a view of a natural forest and the Jerusalem mountains.</br>
                On beautiful autumn and spring days, or on bright winter days, you can sit on the balcony and inhale the clear, wine-like pine air along with the aroma of the coffee and the smell of the chef's excellent dishes, which whets the appetite.</br>
                A casual urban atmosphere, unbuttoned and welcoming in the Jerusalem style, will welcome you whether you jump for a fragrant espresso with the morning newspaper or whether you arrive in full force for lunch or dinner.
            </div>
            </br>
            <div> Address - Big Fashion Mall Beit Shemesh</br>
                Activity time - </br>
                Sunday - Thursday: 8:30 - 22:00 </br>
                Fri: 8:30 - 13:00 </br>
            </div>
        </span>
    </div>

    <div class="container d-flex flex-wrap align-items-center justify-content-center p-5">
        <img src="Macarons.png" alt="Image 2" class="image-size">
        <img src="bread.png" alt="Image 1" class="image-size">
        <img src="Croissant.png" alt="Image 4" class="image-size">
        <img src="Saint Honore.png" alt="Image 8" class="image-size">
        <img src="Espresso.png" alt="Image 7" class="image-size">
        <img src="Pancake.png" alt="Image 6" class="image-size">
        <img src="tarts.png" alt="Image 9" class="image-size">
        <img src="shakshuka.jpg" alt="Image 3" class="image-size">
        <img src="modephoto.png" alt="Image 5" class="image-size">
    </div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="./script.js"></script>
</body>
</html>
