<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (pageTitle='Hadarim Bakery')"></head>
<body>
<!-- Navbar Fragment -->
    <th:block th:replace="fragments/navbar :: navbar"></th:block>

    <!-- Description Section -->
    <div class="d-flex justify-content-center align-items-center text-center"
         style="background-image: url('/pictures/bg-home.png'); background-size: cover; background-position: center; height: 100vh">
            <span class="container p-4 bg-body rounded border border-warning text-emphasis" id="home">
                <h5>
                    Dynamic. Urban. Innovative Space.
                    <p>Hadarim Bakery is designed with a modern urban aesthetic, attracting a diverse crowd including young people, families, business professionals, and tourists.
                        The bakery offers a stunning view of a natural forest and the Jerusalem mountains.
                    </p>
                    <p>On beautiful autumn and spring days, or during bright winter days, you can relax on the balcony, enjoying the crisp, pine-scented air, the rich aroma of coffee, and the enticing smell of the chef's exquisite dishes. The bakery's casual, urban atmosphere is both relaxed and welcoming, embodying the spirit of Jerusalem.
                        Whether you're stopping by for a quick espresso with the morning paper or arriving for a full lunch or dinner, you'll feel right at home.
                    </p>
                </h5>
                <br/>
                <h6>
                    Address - Big Fashion Mall Beit Shemesh<br/>
                    Activity time - <br/>
                    Sunday - Thursday: 8:30 - 22:00 <br/>
                    Fri: 8:30 - 13:00 <br/>
                    Phone: 02-9985658 <br/>
                </h6>
            </span>
    </div>

    <!-- Image Gallery Section -->
    <div class="container d-flex p-5">
        <div class="row">
            <!-- Image 1 -->
            <div class="col-md-4">
                <img src="../pictures/Macarons.png" alt="Macarons" class="h-100 w-100">
            </div>
            <!-- Image 2 -->
            <div class="col-md-4">
                <img src="../pictures/modepic1.png" alt="Image 2" class="h-100 w-100">
            </div>
            <!-- Image 3 -->
            <div class="col-md-4">
                <img src="../pictures/Croissant.png" alt="Croissant" class="h-100 w-100">
            </div>
            <!-- Image 4 -->
            <div class="col-md-4">
                <img src="../pictures/modepic3.png" alt="Image 4" class="h-100 w-100">
            </div>
            <!-- Image 5 -->
            <div class="col-md-4">
                <img src="../pictures/Saint Honore.png" alt="Saint Honore" class="h-100 w-100">
            </div>
            <!-- Image 6 -->
            <div class="col-md-4">
                <img src="../pictures/Cinnamon.png" alt="Cinnamon" class="h-100 w-100">
            </div>
            <!-- Image 7 -->
            <div class="col-md-4">
                <img src="../pictures/tarts.png" alt="Tarts" class="h-100 w-100">
            </div>
            <!-- Image 8 -->
            <div class="col-md-4">
                <img src="../pictures/shakshuka.jpg" alt="Shakshuka" class="h-100 w-100">
            </div>
            <!-- Image 9 -->
            <div class="col-md-4">
                <img src="../pictures/modepic2.png" alt="Image 9" class="border h-100 w-100">
            </div>
        </div>
    </div>

</body>
</html>
