<nav class="navbar mx-auto bg-body">
    <div class="container-fluid navbar-collapse">
        <div class="d-flex justify-content-center w-100">
            <a class="navbar-brand" href="#">
                <img src="logo.png" alt="Logo">
            </a>
        </div>
        <button class="btn btn-info mx-1" type="button" onclick="window.location.href='/menu'">Menu</button>
        <button class="btn btn-info mx-1" type="button" onclick="window.location.href='/orders'">Orders</button>
        <button class="btn btn-info mx-1" type="button" onclick="window.location.href='/reservation'">Reservation</button>
        <div class="d-flex align-items-center ml-auto">
            <a class="navbar-brand py-3" href="#">
                <img src="house-emoji.png" onclick="window.location.href='/'" width="30" height="30" alt="">
            </a>
            <button class="btn btn-outline-info mx-1" type="button" data-toggle="modal" data-target="#contactModal">Contact Us</button>
        </div>
    </div>
</nav>
<!-- Contact Us Modal -->
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="contactModalLabel">Contact Us</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Feel free to reach out to us!</p>
                <p>Phone: 02-9985658</p>
                <p>Email: support@hadarim.com</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>