<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (pageTitle='Order Success')"></head>
<body>
    <!-- Navbar Fragment -->
    <th:block th:replace="fragments/navbar :: navbar"></th:block>

    <!-- Success Message Section -->
    <div class="success-message d-flex justify-content-center align-items-center text-center"
         style="background-image: url('/pictures/tarts.png'); background-size: cover; background-position: center;">
            <span class="container p-4 m-5 bg-info-subtle text-emphasis border border-info">
                <h1 class="fw-bold text-info">Thank You <span th:text="${name}"></span>!</h1>
                <p>Your order has been placed successfully.</p>
                <p>Order ID: <span th:text="${orderId}"></span></p>
            </span>
    </div>
</body>
</html>
